.addpost{

    display: flex;
    flex-direction: column;
    align-items: center;
}
.text_area{
    width: 200px;
    height : 180px ;
}
.addpost_input{
    height: 180px;
}
.button{

    background-color: rgba(182, 177, 172, 0.498);
    border-radius: 10px;
    border: 1px solid rgba(228, 223, 223, 0.653);
    margin-bottom: 10px;
    padding-left: 10px;
    margin-top: 10px;
    padding-right: 
    10px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;

}
.button:hover{
    background-color: rgb(143, 144, 144);
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1em;
    font-weight: 700;
    color: white;
    background-color: rgb(146, 142, 142);
    display: inline-block;
    border-radius: 10px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgba(228, 223, 223, 0.653);
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted rgba(228, 223, 223, 0.653);
	outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
	pointer-events: none;
}

