.chat_leftt{    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #00000026;
    margin-top: 13px;
    padding: 11px;
    color: rgba(97, 95, 93, 0.694);
    height : 65px ;
    font-size: 19px;
    cursor: pointer;

}
.chat_leftt:hover{
    opacity: 50%;

}