
.navigation{
    display: flex;
    width: 100%;
    padding: -2px;
    height: 77px;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
    border: 1px solid rgba(186, 169, 169, 0.237);
    margin-bottom: 12px;
    position: relative;
}
._icon{
    padding: 14px;
    border: 1px solid rgba(186, 169, 169, 0.237);
}