* {
    box-sizing: border-box
}

.chats {

    width: 1000px !important;
    height: 100%;
    margin: 20px auto 20px auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    padding: 30px;
    object-fit: contain !important;

}
.start_conversation{
    padding: 10px;
    height : 550px ;
    /* overflow-y: scroll; */
    width: 50px;
}
.chat_body{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.chat_left{
    width: 30%;
}
.chat_right{
    width: 70%;
}